header {
    background-color: #424E61;
    color: white;
}
p {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fjovemnerd.com.br%2Fnerdbunker%2Ftransformers-o-ultimo-cavaleiro-bumblebee-e-optimus-prime-se-enfrentam-em-novo-cartaz%2F&psig=AOvVaw0eTBrI7GhaYdgk1vPF2NLl&ust=1684888312550000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCPiA452Yiv8CFQAAAAAdAAAAABAI")}
